img {
  position: absolute
}

div {
  position: absolute;
  width: 500px;
  height: 500px;
}

#rightSide {
  left:500px;
  border-left:1px solid black;
}

#titleText {
  text-align:center;
  font-family:verdana;
}

#description {
  text-align:center;
  font-family:verdana;
  size: 8;
}